<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">
      Bem-vindo {{ userService.user()?.username }}
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- iteração dinâmica dos links visíveis -->
        <a
          *ngFor="let link of visibleLinks"
          class="nav-link"
          [routerLink]="link.path"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
        >
          {{ link.label }}
        </a>
      </div>

      <button type="button" class="btn btn-secondary" (click)="logout()">
        Logout
      </button>
    </div>
  </div>
</nav>