<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">Bem vindo {{ userService.user()?.username }}</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          class="nav-link"
          routerLink="/home"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
        >
          Home
        </a>

        <a
          class="nav-link"
          routerLink="/users"
          *ngIf="userService.isAdmin()"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
        >
          Usuários
        </a>

        <!-- Rotas Admin -->
        <a
          class="nav-link"
          routerLink="/create-template"
          *ngIf="userService.isAdmin()"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
        >
          Criar Template
        </a>

        <!-- Rotas Cliente -->
        <a
          class="nav-link"
          routerLink="/client-templates"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
        >
          Meus Templates
        </a>

        <!-- Rotas comuns -->
        <a
          class="nav-link"
          routerLink="/clients-list"
          *ngIf="userService.isAdmin()"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
        >
          Clientes Criados
        </a>
      </div>

      <button type="button" class="btn btn-secondary" (click)="userService.logout()">Logout</button>
    </div>
  </div>
</nav>